body {
    background-color: #dcedff;
}

.navbar {
    background-color: rgba(255, 255, 255, 0.447);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.navbar-brand {
    font-weight: 600;
}

.transparent {
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    padding: 20px;
}

.home-section {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('mainbg.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 0;
}

.display-title {
    font-family: 'Playfair Display', serif;
    color: #4a90e2;
    font-weight: 700;
}

.btn {
    background-color: #ffffffcc;
    color: #333;
    font-family: 'Poppins', sans-serif !important;
    font-weight: 600;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.btn:hover {
    color: rgb(135, 219, 255);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}